In [1]:
import pandas as pd 
import numpy as np 

# Baca Data CSV nya
df1=pd.read_csv('C:/Users/Lukas_K/JupyterFile/MovieRecomendedSystem/Data/tmdb_5000_credits.csv')
df2=pd.read_csv('C:/Users/Lukas_K/JupyterFile/MovieRecomendedSystem/Data/tmdb_5000_movies.csv')

In [2]:
# Atau bisa menggunakan left join dengan cara memberi tahu PK(Primary Key) dan FK (Foreign Key)
df2= df2.merge(df1,left_on='id', right_on='movie_id')

In [3]:
df1.head(5)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
df2.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,movie_id,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
df2.head(1).genres

0    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
Name: genres, dtype: object

In [6]:
# Kita bisa lihat setiap movie punya overview
df2['overview'].head(5)

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bond’s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

In [7]:
# Pakai TfIdfVectorizer dari scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

# Pakai TF-IDF Vectorizer Object. Buang semua stopword 'the', 'a' karena kurang terkait konteks
tfidf = TfidfVectorizer(stop_words='english')

# sebelum pembobotan, pastikan overview NaN diubah jadi '', karena akan error kalau NaN dibiarin
df2['overview'] = df2['overview'].fillna('')

# TF-IDF kan overview yang sudah dibetulkan overviewnya
tfidf_matrix = tfidf.fit_transform(df2['overview'])

# shape of tfidf_matrix (Jumlah data dan jumlah Feature)
tfidf_matrix.shape

(4803, 20978)

In [8]:
# Idenya adalah membandingkan nilai diantara tfidf.

# Import linear_kernel dari sklearn
from sklearn.metrics.pairwise import linear_kernel

# Hasil nilai cosine similarity matrix (kesamaan diantara hasil tfidf nya)
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.02160533, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.01488159, 0.        ,
        0.        ],
       ...,
       [0.        , 0.02160533, 0.01488159, ..., 1.        , 0.01609091,
        0.00701914],
       [0.        , 0.        , 0.        , ..., 0.01609091, 1.        ,
        0.01171696],
       [0.        , 0.        , 0.        , ..., 0.00701914, 0.01171696,
        1.        ]])

In [9]:
# Nilai kesamaan diantara tfidf pada setiap feature
print(cosine_sim[0])
print(cosine_sim[1])

[1. 0. 0. ... 0. 0. 0.]
[0.         1.         0.         ... 0.02160533 0.         0.        ]

In [10]:
# karena contentBased melihat pada kesamaan kontent dari film. Maka perlu adanya inputan
# Inputan akan berupa pertanya mengenai salah satu film yang cenderung disukai pengguna
# Dari sini, inputan akan berupa judul yang akan dicari judul" lain yang memiliki nilai
# TFIDF yang serupa dengan judul film yang disebut

# Title akan dijadikan index sebagai fokus pencariannya
indices = pd.Series(df2.index, index=df2['title_y']).drop_duplicates()

In [11]:
# Fungsi untuk menjadikan judul sebagai inputan dan mengeluarkan output film yang mirip
def get_recommendations(title, cosine_sim=cosine_sim):

    # Dari Index yang dibuat sebelumnya, dipakai untuk mencari baris data film dengan memakai judul 
    # idx akan mendapatkan lokasi index cosine_sim dari film yang dicari
    idx = indices[title]

    # Cari nilai cosine_sim dengan film" lain
    sim_scores = list(enumerate(cosine_sim[idx]))

    # urutkan berdasarkan nilai cosine_sim
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # ambil 10 teratas
    sim_scores = sim_scores[1:11]

    # pada nilai sim_score terdapat 2 kolom : id dan score
    # Ambil ID nya untuk dipakai mencari nama judul nya dibaris selanjutnya
    movie_indices = [i[0] for i in sim_scores]

    # Dari daftar ID yang sudah didapat, gunakan "iloc" untuk mencari baris data dari ID
    # Ambil  title dan id nya untuk dikembalikan
    return df2['title_y'].iloc[movie_indices]

#     # Jika ingin melihat score 
#     return sim_scores;

In [12]:
get_recommendations('The Dark Knight Rises')

65                              The Dark Knight
299                              Batman Forever
428                              Batman Returns
1359                                     Batman
3854    Batman: The Dark Knight Returns, Part 2
119                               Batman Begins
2507                                  Slow Burn
9            Batman v Superman: Dawn of Justice
1181                                        JFK
210                              Batman & Robin
Name: title_y, dtype: object

In [13]:
# Selain kita bisa pakai kolom "overview" untuk melihat kesamaan diantara movie
# Kita bisa pakai kolom lain seperti "genre","crew","keywords","cast"

In [14]:
# Kode dibawah untuk membuat dictionary di crew, cast, keywords,genres 
# {"id": 28, "name": "Action"} -> awalnya String murni dapat jadi Dictionary , Keren!
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(literal_eval)

In [15]:
# Udah jadi dictionary
df2.head(1).crew[0][0]['department']

'Editing'

In [16]:
# Karena sudah dictionary, maka sudah mudah mengakses valuenya. Pada crew akan tampil
# daftar seluruh crew, jika ada crew bagian director, maka ambil value tersebut untuk disendirikan
# Jika tidak ada direktor maka return NaN
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [17]:
# Returns the list top 3 elements or entire list; whichever is more.
# Kembalikan 3 element tertinggi dari setiap feature (cast,keyword,genres)
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        # Kalau pada setiap feature ada 3 element lebih, maka kembalikan 3 awal saja, supaya tidak kebanyakan
        if len(names) > 3:
            names = names[:3]
        return names

    # Jika tidak ada element sama sekali di feature tersebut, maka kembalikan kosongan
    return []

In [18]:
# Dari rumus get_director maka ambil director dari dictionary crew
df2['director'] = df2['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(get_list)

In [19]:
# Coba lihat hasil dari get_list dan get_director
df2[['title_y', 'cast', 'director', 'keywords', 'genres']].tail(8)
# Terlihat ada [] , ini harus dihilangkan karena bisa mempengaruhi

,title_y,cast,director,keywords,genres
4795,Bang,"[Darling Narita, Peter Greene, Michael Newland]",Ash Baron-Cohen,"[gang, audition, police fake]",[Drama]
4796,Primer,"[Shane Carruth, David Sullivan, Casey Gooden]",Shane Carruth,"[distrust, garage, identity crisis]","[Science Fiction, Drama, Thriller]"
4797,Cavite,[],Neill Dela Llana,[],"[Foreign, Thriller]"
4798,El Mariachi,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",Robert Rodriguez,"[united states–mexico barrier, legs, arms]","[Action, Crime, Thriller]"
4799,Newlyweds,"[Edward Burns, Kerry Bishé, Marsha Dietlein]",Edward Burns,[],"[Comedy, Romance]"
4800,"Signed, Sealed, Delivered","[Eric Mabius, Kristin Booth, Crystal Lowe]",Scott Smith,"[date, love at first sight, narration]","[Comedy, Drama, Romance]"
4801,Shanghai Calling,"[Daniel Henney, Eliza Coupe, Bill Paxton]",Daniel Hsia,[],[]
4802,My Date with Drew,"[Drew Barrymore, Brian Herzlinger, Corey Feldman]",Brian Herzlinger,"[obsession, camcorder, crush]",[Documentary]

In [20]:
# Karena ada [] , maka harus dihilangkan
def clean_data(x):
    # isinstance (x,list) -> jika x adalah list, maka True
    if isinstance(x, list):
        # Kalau dia list, maka lakukan iterasi untuk membaca tiap element
        # kalau ada element dengan " " -> ""
        # Lowercse kan semua biar rapi
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        # Kalau x bukan List ->"direktor bukan List tapi String"
        # Karena string maka langsung saja ubah " " -> ""
        # Lowercse kan semua biar rapi
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [21]:
# Apply clean_data ke semua feature
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    df2[feature] = df2[feature].apply(clean_data)

In [22]:
# Buat feature baru / kolom baru yang valuenya adalah gabungan dari feature" yang lain
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])
df2['soup'] = df2.apply(create_soup, axis=1)

In [23]:
df2.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,tagline,title_x,vote_average,vote_count,movie_id,title_y,cast,crew,director,soup
0,237000000,"[action, adventure, fantasy]",http://www.avatarmovie.com/,19995,"[cultureclash, future, spacewar]",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,Enter the World of Pandora.,Avatar,7.2,11800,19995,Avatar,"[samworthington, zoesaldana, sigourneyweaver]","[{'credit_id': '52fe48009251416c750aca23', 'de...",jamescameron,cultureclash future spacewar samworthington zo...
1,300000000,"[adventure, fantasy, action]",http://disney.go.com/disneypictures/pirates/,285,"[ocean, drugabuse, exoticisland]",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",goreverbinski,ocean drugabuse exoticisland johnnydepp orland...
2,245000000,"[action, adventure, crime]",http://www.sonypictures.com/movies/spectre/,206647,"[spy, basedonnovel, secretagent]",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,A Plan No One Escapes,Spectre,6.3,4466,206647,Spectre,"[danielcraig, christophwaltz, léaseydoux]","[{'credit_id': '54805967c3a36829b5002c41', 'de...",sammendes,spy basedonnovel secretagent danielcraig chris...
3,250000000,"[action, crime, drama]",http://www.thedarkknightrises.com/,49026,"[dccomics, crimefighter, terrorist]",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,The Dark Knight Rises,"[christianbale, michaelcaine, garyoldman]","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...",christophernolan,dccomics crimefighter terrorist christianbale ...
4,260000000,"[action, adventure, sciencefiction]",http://movies.disney.com/john-carter,49529,"[basedonnovel, mars, medallion]",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,"Lost in our world, found in another.",John Carter,6.1,2124,49529,John Carter,"[taylorkitsch, lynncollins, samanthamorton]","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...",andrewstanton,basedonnovel mars medallion taylorkitsch lynnc...

In [24]:
# Gunakan CV dari sklearn untuk membuat Matrix
# Yang divektorisasi hanya 1 kolom , tapi kombinasi dari 4 kolom acuan [genre,cast,director,keywords]
from sklearn.feature_extraction.text import CountVectorizer

# CV kan dari stop_words yang sudah dihilangkan
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df2['soup'])

In [25]:
# Dari matrix CV, gunakan cosine_similarity buat mencari CV" yang sama
# Bisa juga pakai linear_kernel
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [26]:
# jadikan title sebagai index untuk pencarian lokasi hasil CV nya
df2 = df2.reset_index()
indices = pd.Series(df2.index, index=df2['title_y'])

In [27]:
# Gunakan fungsi yang sudah dibuat diawal
get_recommendations('The Dark Knight Rises', cosine_sim2)

65               The Dark Knight
119                Batman Begins
4638    Amidst the Devil's Wings
1196                The Prestige
3073           Romeo Is Bleeding
3326              Black November
1503                      Takers
1986                      Faster
303                     Catwoman
747               Gangster Squad
Name: title_y, dtype: object